<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Skac. Коментарии в ленте блогов</lang>
        <lang name="russian">Skac. Коментарии в ленте блогов</lang>
    </name>
    <author>
        <lang name="default">skif</lang>
        <lang name="russian">skif</lang>
    </author>
    <homepage>http://livestreet.ru/blog/addons/14534.html</homepage>
    <version>1.1.1 test</version>
    <requires>
        <livestreet>1.0.0</livestreet>
        <plugins>
        </plugins>
    </requires>
    <description>
        <lang name="default">Плагин позволяет коментировать топики прямо из ленты, не открывая сам топик</lang>
        <lang name="russian">Плагин позволяет коментировать топики прямо из ленты, не открывая сам топик</lang>
    </description>
</plugin>
